language: node_js
node_js:
  - node
  - lts/*
install:
  - npm install
before_script:
  - npm rebuild node-sass
script:
  - npm run lint
  - npm run test
  # - npm run build
# deploy:
#   provider: pages
#   skip-cleanup: true
#   github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
#   keep-history: true
#   local-dir: dist
#   on:
#     branch: master
#     node: 'lts/*'
